^tmp_head^
<div class="container discounts-page" style="margin-top: .5em">

    <div class="discounts-page row col-md-12 col-sm-12 col-xs-12" ng-app="DiscountsApp">
        <h1>Employee Discounts</h1>
        <p>The iTexico family has access to exclusive disscounts in the following bussiness:</p>
        <div class="discounts" ng-controller="DiscountsController">
            <div class="row filter-categories btn-group">
                <h4 class="col-xm-12">Categories:</h4>
                <div class="btn-group col-xm-12" role="group">
                    <button type="button" class="btn btn-default active" data-group="reset">All Discounts</button>
                    <button type="button" class="btn btn-default" data-group="restaurant">Restaurants</button>
                    <button type="button" class="btn btn-default" data-group="health">Health</button>
                    <!-- <button type="button" class="btn btn-default" data-group="auto">Automotive</button> -->
                    <button type="button" class="btn btn-default" data-group="supermarket">Supermarkets</button>
                    <button type="button" class="btn btn-default" data-group="other">Others</button>
                </div>
            </div>
            <div class="row">
                <div id="grid" class="col-xm-12">
                   <figure ng-repeat="discount in discounts"
                    class="picture-item col-xs-12 col-sm-6 col-md-4"
                    data-groups='[&quot;{{discount.category.name}}&quot;]'
                    data-discount-id='{{discount._id}}'
                    on-finish-render=""
                    ng-click="modalDetails($event)">
                    <div class="wrapper">
                        <a>
                            <img ng-if="discount.image[0].location" ng-src="{{discount.image[0].location}}"/>
                            <img ng-if="!discount.image[0].location" class="no-logo"/>
                        </a>
                        <div class="picture-item__details">
                            <figcaption class="picture-item__title">
                                {{discount.name}} - {{discount.percentage}}% <br />
                            </figcaption>
                        </div>
                    </div>
                  </figure>
                </div>
            </div>
        </div>

        <!--  Discount Details Modal -->
        <div id="details-modal" class="modal fade col-xs-10 col-xm-offset-1 col-sm-12 col-sm-offset-0">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Discount Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-logo">
                                <img class="logo"alt="">
                                <div class="actions">
                                    <a class="fa fa-file-text link-media" href="#"></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-description">
                                <h5 class="sub-header"></h5>
                                <div class="description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
^angular^

<script src="/public/itexico/js/libs/modernizr.js"></script>
<script src="/public/itexico/js/libs/jquery.shuffle.min.js"></script>
<script src="/public/itexico/js/discounts/services/discountsSrv.js"></script>
<script src="/public/itexico/js/discounts/controllers/discountsCtrl.js"></script>

^tmp_footer^
