/*
  author: Daniel Zamorano
  email: daniel.zamorano.m@gmail.com
  twitter: @danielzm
*/

.admin-navbar a.button-gotosite i:before {
  font-size: 14px;
  font-weight: normal;
}
.admin-navbar a.button-gotosite {
  margin-top: 19px;
  background-color: #01AAD5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px !important;
  background: #F9C206;
  color: #000;
  font-weight: normal;
  font-size: 12px;
  border: none;
  text-transform: capitalize;
}

 /* mobile nav */
nav.admin-navbar a.button-gotosite {
  margin-top: 10px;
}

/* Login Page */
html.admin-login-page {
  background-image: linear-gradient(to right bottom, #FFF, #F17A20);
  background-size: 100%;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  margin: 0;
}
body.admin-login-page {
  background-color: transparent;
}

html.admin-login-page #login_logo {
  text-align: center;
  padding: 0;
  margin-bottom: 13px;
}

body.admin-login-page .panel {
  width: 80%;
  background: #eee;
  display: block;
  margin: 10px auto;
  top: 20%;
  max-height: 80%;
  min-height: 100px;
  position: relative;
  border-radius: 6px !important;
  text-align: center;
}
.mac.panel {
  box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.26)
}
.mac .panel-heading {
  height: 40px;
  background: -webkit-linear-gradient(top, #f0f0f0, #e9e9e9);
  background: linear-gradient(to bottom, #f0f0f0, #e9e9e9);
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-top: 1px solid #faf9ff;
}
.mac .panel-heading span {
  float: none;
}
.mac .close,
.mac .minimize,
.mac .zoom {
  height: 12px;
  width: 12px;
  border-radius: 6px !important;
  background: #ddd;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
.mac .close {
  background-color: #ff6052;
  left: 10px;
}
.mac .minimize {
  background-color: #ffbe06;
  left: 32px;
}
.mac .zoom {
  background-color: #16cc37;
  left: 54px;
}

body.admin-login-page #login_logo h2 {
  font-family: Raleway;
  font-size: 19px;
  text-shadow: 0 1px 0 #ddd;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0;
  margin-top: 25px;
}
body.admin-login-page #login_logo h2 i:before {
  margin-right: 10px;
}
body.admin-login-page .panel-body {
  padding-bottom: 45px;
}
body.admin-login-page .btn.login-google {
  padding: 12px 33px 10px;
  background-color: transparent;
  color: #666;
  line-height: 28px;
  font-size: 16px;
  border: none;
  border: 1px solid #b9b9b9;
  border-radius: 6px !important;
}
body.admin-login-page .btn.login-google:hover {
  text-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 4px #8e8e8e;
  border-color: #8e8e8e;
  background-color: #f85c37;
  color: #fff;
}
body.admin-login-page .btn.login-google span {
  font-size: 23px;
  float: left;
  margin-left: -22px;
  margin-top: 7px;
  margin-right: 8px;
}
body.admin-login-page a.go-to-admin {
  position: absolute;
  bottom: -57px;
  right: 50px;
  color: #222;
  text-shadow: 0px 1px 1px #ddd;
  font-weight: bold;
}
