
.discounts-page .filter-categories > * {
  padding-left: 16px;
}
.discounts-page .filter-categories div.btn-group button {
  padding: 13px 20px;
  font-size: 1.2em;
}

.discounts-page .filter-categories div.btn-group button.btn-default.active {
  color: #fff;
  background-color: #0F75BC;
}

.discounts-page #grid {
  min-height: 230px;
}

.discounts-page #grid figure {
  display:inline-block;
  float: left;
  box-sizing: border-box;
  margin: 15px 0;
}

.discounts-page #grid figure .wrapper {
  height: 210px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.discounts-page #grid figure .wrapper:hover {
  box-shadow: 0px 4px 22px;
}

.discounts-page #grid figure a {
  min-height: 170px;
  display: block;
  color: #337ab7;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

.discounts-page #grid figure a img {
  max-height: 170px;
  margin: 0 auto;
  max-width: 100%
}

.discounts-page img.no-logo {
  background-color: #ddd;
  width: 100%;
}
.discounts-page #grid figure a img.no-logo {
  height: 100%;
}
.discounts-page img.no-logo:before {
  content: "no logo image provided";
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 33%;
  left: 14%;
  font-weight: bold;
}

.discounts-page .modal-body .col-logo img.no-logo {
  width: 100%;
  min-height: 200px;
}

.discounts-page .picture-item__details{
  position: absolute;
  bottom: 0;
  background-color: #0F75BC;
  color: #fff;
  padding: 5px 24px;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  text-transform: uppercase;
}

/* Discount Details Modal */
.discounts-page .modal-header {
  background-color: #1B75BB;
  color: #FFF;
}
.discounts-page .modal-header h4 {
  color: #FFF;
}
.discounts-page .modal-body {
  max-height: 400px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}
.discounts-page .modal-body .col-logo .actions {
  padding: 10px 0;
  font-size: 15px;
}
.discounts-page .modal-body .col-logo img {
    max-width: 100%
}
.discounts-page .modal-body .col-logo .actions a.link-media {
  border: 1px solid #bbb;
  padding: 3px;
  border-radius: 2px !important;
  color: #bbb;
  cursor: default;
}
.discounts-page .modal-body .col-logo .actions a.link-media.enabled {
  cursor: pointer;
  color: #666;
  border-color: #999;
}
.discounts-page .modal-body .col-logo .actions a.link-media.enabled:hover {
  box-shadow: 0 0 5px #bbb;
}
.discounts-page .modal-body .col-description {
  max-height: 300px;
  overflow-y: scroll;
  border-left: 1px solid #666;
}
.discounts-page .modal-body .col-description h5 {
  font-size: 20px;
  font-weight: bold;
}

/* ----------------- */
/* media queries     */
/* ----------------- */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #details-modal.modal {
    left: 10%;
      border-left: none;
  }
  .discounts-page #details-modal .modal-body .col-logo {
    text-align: center;
    padding-bottom: 15px;
  }
  .discounts-page #details-modal .modal-body .col-logo img {
    width: 75%;
    margin: 0 auto;
  }
  .discounts-page .modal-body .col-description {
    max-height: none;
    border-top: 1px solid #666;
    border-left: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}
