/*
  author: Daniel Zamorano
  email: daniel.zamorano.m@gmail.com
  twitter: @danielzm
*/

/* Colors fron itexico.com

itexico-blue-5: #3574E3
itexico-blue-6: #15609D
itexico-blue-1: #0F75BC
itexico-blue-2: #156099
itexico-blue-3: #124B7B
itexico-blue-4: #1B75BB
itexico-gray-1: #666
itexico-gray-2: #F1F1F1

*/

/* generic styles */
p, span {
  background-color: none;
}

h1 {
    color: #0F75BC;
}

a {
  color: #0F75BC;
}

.warning {
  background-color: #f85c37;
}

.navbar-inverse {
  background-color: #fff;
}
.navbar-brand {
  padding:0;
}
.navbar-brand img {
  max-width: 125px;
  padding-left: 15px;
}

.navbar-inverse .navbar-toggle {
  background-color: #0F75BC;
  border-color: #0F75BC;
}

.nav.navbar-nav.navbar-right {
  color: #3574E3;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #1B75BB;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #1B75BB;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #1B75BB;
}

/* Article styles */
div.article {
  margin-top: 40px;
}
div.article h1 {
  margin: 20px 0;
}
div.article h3 {
  margin: 20px 0;
}

.navbar li i {
  margin-right: 6px;
}

.navbar li {
  text-transform: capitalize;
}
.navbar li a.welcome {
  cursor: default;
}
.navbar li a.welcome:hover {
  cursor: default;
  background-color: #fff;
}
.navbar a.logout {
  color: rgb(231, 105, 0);
  display: block;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
}
.navbar a.logout:hover {
  color: red;
}

.navbar a.logout i.fa-power-off:before {

}

/* Login Page */
html.login-page {
  background-image: linear-gradient(to right bottom, #fff, #8b74a0);
  background-size: 100%;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  margin: 0;
}

body.login-page {
  background-color: transparent;
}

body.login-page .panel {
  width: 80%;
  background: #eee;
  display: block;
  margin: 0 auto;
  top: 20%;
  max-height: 80%;
  min-height: 100px;
  position: relative;
  border-radius: 6px !important;
  text-align: center;
}
.mac.panel {
  box-shadow: 0 18px 40px 10px rgba(0, 0, 0, 0.36);
}
.mac .panel-heading {
  height: 40px;
  background: -webkit-linear-gradient(top, #f0f0f0, #e9e9e9);
  background: linear-gradient(to bottom, #f0f0f0, #e9e9e9);
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-top: 1px solid #faf9ff;
}
.mac .panel-heading span {
  float: none;
}
.mac .close,
.mac .minimize,
.mac .zoom {
  height: 12px;
  width: 12px;
  border-radius: 6px !important;
  background: #ddd;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
.mac .close {
  background-color: #ff6052;
  left: 10px;
}
.mac .minimize {
  background-color: #ffbe06;
  left: 32px;
}
.mac .zoom {
  background-color: #16cc37;
  left: 54px;
}

body.login-page .panel-body {
  padding-bottom: 45px;
}
body.login-page .btn.login-google {
  padding: 12px 33px 10px;
  background-color: transparent;
  color: #666;
  line-height: 28px;
  font-size: 16px;
  border: none;
  border: 1px solid #b9b9b9;
  border-radius: 6px !important;
}
body.login-page .btn.login-google:hover {
  text-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 4px #8e8e8e;
  border-color: #8e8e8e;
  background-color: #f85c37;
  color: #fff;
}
body.login-page .btn.login-google span {
  font-size: 23px;
  float: left;
  margin-left: -22px;
  margin-top: 7px;
  margin-right: 8px;
}
body.login-page a.go-to-admin {
  position: absolute;
  bottom: -57px;
  right: 50px;
  color: #222;
  text-shadow: 0px 1px 0 #ddd;
  font-weight: bold;
}

