/**
 * @author Daniel Zamorano, @danielzm, <daniel.zamorano.m@gmail.com>
 * @copyright 2015 Daniel Zamorano
 */

 .welcome-page h1 {
 	margin-top: 39px;
 	font-size: 42px;
 	color: #414141;
 	font-family: Exo;
 	font-weight: bold;
 	font-style: italic;
 }

 .welcome-page h3 {
 	font-size: 25px;
 }

 .welcome-page .content {
 	font-size: 20px;
 	margin-top: 20px;
 }

 .carousel_img {
 	width: 100%;
 	height: 450px;
 	background-position: center center;
 	background-repeat: no-repeat;
 	overflow: hidden;
 }

 /* Set the image to fill its parent and make transparent */
 .carousel_img img {
 	min-height: 100%;
 	min-width: 100%;
 	/* IE 8 */
 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 	/* IE 5-7 */
 	filter: alpha(opacity=0);
 	/* modern browsers */
 	opacity: 0;
 }

.carousel-inner{
 	background-color: #1b75bb; 
}

.carousel_caption{
 	padding-left: 40px;
 }

.carousel_caption a{
 	color: #FFFFFF;
 }


 #news_container{
 	margin-top: 3em;
 }

 .news_thumbnail {
 	width: 140px;
 	height: 120px;
 }

 .news_entry{
 	margin-top: 30px;
 }

 .news_summary {
 	font-size: 16px;
 	line-height: 110%;
 	margin-bottom: 10px;
 }
