^tmp_head^
<div class="row-fluid">
    <div class="container" style="margin-top: .5em">
        <div class="col-md-4 col-md-offset-4" style="text-align: center">
            <div style="font-size: 12em; color: #00AAD4"><b>403</b></div>
            <div style="font-size: 1.5em; color: #B3B3B3">Authorization Required</div>
        </div>
    </div>
</div>
^tmp_footer^
