
<div class="carousel slide" id="myCarousel">

  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li ng-repeat="carItem in carouselItems" ng-class="{active:$first}"
      data-target="#myCarousel" data-slide-to="{{$index}}"></li>
    </ol>

  <div class="carousel-inner">



    <div ng-repeat="carItem in carouselItems" ng-class="{item: true, active:$first}">

      <!-- Cropped and centered image -->
      <div class="carousel_img" style="background-image: url('{{carItem.image[0].location}}');">
        <img ng-src="{{carItem.image[0].location}}">
      </div>

      <div class="carousel_caption">
        <h3><a href="{{carItem.url}}">{{carItem.caption}}</a></h3>
      </div>

    </div>
    <!-- /Slide2 -->


  </div>

  <div class="control-box">
    <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
    <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
  </div>

</div>


