<li class="dropdown session-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
      ^user_name^ <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      ^admin^
      <li class="divider"></li>
      <li><a href="/actions/logout" class="logout"><i class="fa fa-power-off"></i>logout</a></li>
    </ul>
</li>
