^tmp_head^
<div class="container discounts-page" style="margin-top: 100px">

	<div class="container">

			<div id="area_nav" class="col-md-3">
				
				^topics^

			</div>



			<div class="col-md-9">
				
				^pages^

			</div>

	</div>

</div>
^angular^
^tmp_footer^