^tmp_head^
<div class="container discounts-page" style="margin-top: 100px">

	<div class="container" ng-controller="WelcomeController">
		<div class="row">

			<div class="col-md-9">
				
				^tmp_elements=carousel^

				<h1>{{welcome.headline}}</h1>
				<h3>{{welcome.subheading}}</h3>
				<div class="content" ng-bind-html="welcome.content"></div>


				<div id="news_container">
					<div class="news_entry row" ng-repeat="newsEntry in news">
						<div class="col-md-2" ng-if="newsEntry.thumbnail" >
							<img class="news_thumbnail" ng-src="{{newsEntry.thumbnail[0].location}}">
						</div>

						<div class="col-md-10">
							<h4><a href="article/{{newsEntry.article[0].url}}">{{newsEntry.headline}}</a></h4>
							<p class="news_summary">{{striphtml(newsEntry.article[0].article_layout).substring(0,200)}} ...</p>
							<a class="btn btn-mini" href="article/{{newsEntry.article[0].url}}">&raquo; Read More</a>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-3">
				<div id="quick_links">
					<div class="content" ng-bind-html="quickLinks.content"></div>
					<br/><br/><div><a class="twitter-timeline"  href="https://twitter.com/Jobs_iTexico" data-widget-id="649986353506062336"></a></div>
				</div>
			</div>

		</div>
	</div>

</div>
^angular^

<script src="/public/itexico/js/angular/services/customObjectSrv.js"></script>
<script src="/public/itexico/js/welcome/controllers/welcomeCtrl.js"></script>

^tmp_footer^
