^tmp_admin=head^
<div class="col-md-9">
    ^tmp_admin=elements=error_success^
    ^tmp_admin=elements=sub_nav^
    ^tmp_admin=elements=search_input^
    <div class="table_container">
        <table class="table table-responsive table-condensed">
            ^tmp_admin=elements=table_headers^
            <tr ng-repeat="page in pages track by page._id"
                ng-if="(page.paginated && searchText.length <= 2) ||
                    (!page.hidden && searchText.length > 2)">
                <td>
                    <!-- show the link when is private and authorized user or no private-->
                    <a ng-if="page.allowed_user"
                        ng-href="/admin/content/pages/{{page._id}}" ng-bind="page.headline"></a>
                    <span ng-if="!page.allowed_user" ng-bind="page.headline"></span>
                </td>
                <td>
                    <span ng-if="(page.private_area_name)"
                        ng-bind="page.private_area_name">-</span>
                    <span ng-if="(!page.private_area_name)">-</span>
                </td>
                <td ng-bind="page.status"></td>
                <td ng-bind="page.url"></td>
                <td ng-bind="page.author_name"></td>
                <td ng-bind="page.publish_date | date: 'yyyy-MM-dd HH:mm'"></td>
                <td>
                    <a ng-if="(page.allowed_user)"
                        href="#" ng-click="confirmDelete($index)"><i class="fa fa-trash"></i></a>
                    <i ng-if="(!page.allowed_user)" class="fa fa-trash disabled"></i>
                </td>
            </tr>
        </table>
    </div>
    ^tmp_admin=elements=pagination^
    ^tmp_admin=elements=delete_modal^
</div>
^tmp_angular=admin=content=pages=manage_pages^
^tmp_admin=footer^
