<script type="text/javascript" src="/js/angular/services/search.js"></script>
<script type="text/javascript" src="/js/angular/services/sort.js"></script>
<script type="text/javascript" src="/js/angular/services/paginate.js"></script>
<script type="text/javascript">
    angular.module('pencilblueApp', ['search', 'sort', 'paginate'])
    .controller('PencilBlueController', function($scope, $http, searchService, sortService, paginationService) {
        ^angular_objects^

        $scope.searchText = '';
        $scope.paginationIndex = 0;
        $scope.paginationLimit = 25;
        $scope.deleteNameKey = 'headline';

        $scope.tableHeaders = [{
            name: loc.pages.HEADLINE,
            field: 'headline',
            sortAsc: false,
            sortDesc: false
        }, {
            name: 'Private',
            field: 'private_area_name',
            sortAsc: false,
            sortDesc: false
        },{
            name: loc.generic.STATUS,
            field: 'status',
            sortAsc: false,
            sortDesc: false
        }, {
            name: loc.pages.PAGE_URL,
            field: 'url',
            sortAsc: false,
            sortDesc: false
        }, {
            name: loc.admin.AUTHOR,
            field: 'author_name',
            sortAsc: false,
            sortDesc: false
        }, {
            name: loc.pages.PUBLISH_DATE,
            field: 'publish_date',
            sortAsc: true,
            sortDesc: false
        }];

        $scope.search = function() {
            searchService.search($scope.searchText, $scope.pages, ['headline'], function(pages) {
                $scope.pages = pages;
                $scope.paginate(0);
            });
        }

        $scope.clearSearch = function() {
            $scope.searchText = '';
            $scope.search();
        }

        $scope.paginate = function(paginationIndex) {
            $scope.paginationIndex = paginationIndex;

            paginationService.paginate($scope.pages, $scope.paginationIndex, $scope.paginationLimit, function(pages, paginationPages) {
                $scope.pages = pages;
                $scope.paginationPages = paginationPages;
            })
        }

        $scope.pageButtonVisible = function(testIndex) {
            return paginationService.pageButtonVisible(testIndex, $scope.paginationIndex, $scope.paginationLimit);
        };

        $scope.sort = function(headerIndex) {
            sortService.sortByHeader($scope.pages, $scope.tableHeaders, headerIndex, function(pages, headers) {
                $scope.pages = pages;
                $scope.headers = headers;
                $scope.paginate(0);
            });
        }

        $scope.confirmDelete = function(pageIndex) {
            $scope.objectToDeleteIndex = pageIndex;
            $scope.objectToDelete = $scope.pages[pageIndex];
            $('#confirm_delete_modal').modal({backdrop: 'static', keyboard: true});
        }

        $scope.deleteObject = function() {
            if(!$scope.objectToDelete) {
                return;
            }

            $scope.deleting = true;
            $http({method: 'DELETE', url: '/actions/admin/content/pages/' + $scope.objectToDelete._id})
            .success(function(result) {
                $scope.pages.splice($scope.objectToDeleteIndex, 1);
                $scope.deleting = false;
                $scope.successMessage = result.message;
                $scope.paginate(0);
                $('#confirm_delete_modal').modal('hide');
            })
            .error(function(error, status) {
                $scope.deleting = false;
                $scope.errorMessage = error.message;
                $('#confirm_delete_modal').modal('hide');
            });
        }

        $scope.sort(4);
    });
</script>
