^tmp_user=head^
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="login_logo">
                        <img src="^site_logo^"></img>
                    </div>
                    ^error_success^
                    <div class="panel mac">
                        <div class="panel-heading">
                            <div class="close"></div>
                            <div class="minimize"></div>
                            <div class="zoom"></div>
                        </div>
                        <div class="panel-body">
                            <a href="/auth/google" class="btn btn-success
                                btn-large login-google">
                                Login using Google
                                <span class="fa fa-google"></span>
                            </a>
                        </div>
                    </div>
                    <a href="/admin" class="go-to-admin">
                        <i class="fa fa-angle-left"></i>
                        <i class="fa fa-users"></i>
                        Go to admin login
                    </a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
             $('html').addClass('login-page');
             $('body').addClass('login-page');
        </script>
        <script type="text/javascript" src="/js/user/login.js"></script>
    </body>
</html>
